<div class="modal fade" tabindex="-1" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title">登陆</h2>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row" style="margin: 20px 0;">
                        <label class="control-label col-lg-2 text-right" for="user">用户名:</label>
                        <div class="col-lg-8">
                            <input class="form-control" type="text" name="username" id="user" autocomplete="off" placeholder="请输入用户名...">
                        </div>
                    </div>

                    <div class="row" style="margin: 20px 0;">
                        <label class="control-label col-lg-2 text-right" for="passwd">密码:</label>
                        <div class="col-lg-8">
                            <input class="form-control" type="password" name="password" id="passwd" autocomplete="off" placeholder="请输入密码...">
                        </div>
                    </div>

                    <div class="row" style="margin: 20px 0;">
                       <div class="col-lg-3 col-lg-offset-3">
                           <a id="btn-login" class="btn btn-info" href="javascript:;">登陆</a>
                       </div>

                        <div class="col-lg-3">
                            <a id="btn-reset" class="btn btn-info" href="javascript:;">取消</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
