<footer>
    <div class="container">
        <div class="footer-wrapper text-center">
            <p>&copy;fengying</p>
        </div>
    </div>

    <div class="return-top">
        <i class="fa fa-arrow-circle-up fa-4x"></i>
    </div>
</footer>