<div class="msg">
    <div class="msg-success">
        <i class="fa fa-check-circle fa-lg fa-icon"></i>
        <span></span>
        <i class="fa fa-times fa-lg"></i>
    </div>

    <div class="msg-error">
        <i class="fa fa-times-circle fa-lg fa-icon"></i>
        <span></span>
        <i class="fa fa-times fa-lg"></i>
    </div>
</div>