<div class="header">
    <h1>这里是header.ejs</h1>
   <div class="container">
       <!--
       <form action="/reg" method="get" name="form" class="form-horizontal">
           <div class="form-group">
               <label class="control-label col-lg-2 text-right" for="txt1">用户名:</label>
               <div class="col-lg-4">
                   <input class="form-control" type="text" name="userName" id="txt1" autocomplete="off" placeholder="请输入用户名...">
               </div>
           </div>
           <div class="form-group">
               <label class="control-label col-lg-2 text-right" for="psw">密码:</label>
               <div class="col-lg-4">
                   <input type="password" class="form-control" name="password" id="psw" placeholder="请输入密码...">
               </div>
           </div>

           <div class="form-group">
               <label class="control-label col-lg-2 text-right" for="emil">邮箱:</label>
               <div class="col-lg-4">
                   <input class="form-control" type="email" name="email" id="emil" autocomplete="off placeholder="请输入邮箱...">
               </div>
           </div>

           <div class="form-group">
               <div class="col-lg-6 text-center">
                   <button class="btn btn-primary">submit</button>
                   <input class="btn btn-info" type="reset" value="reset">
               </div>
           </div>
       </form>
       -->
       <div class="row" style="margin-top: 20px;">
           <label class="control-label col-lg-2 text-right" for="txt1">用户名:</label>
           <div class="col-lg-4">
               <input class="form-control" type="text" name="userName" id="txt1" autocomplete="off" placeholder="请输入用户名...">
           </div>
       </div>
       <div class="row" style="margin-top: 20px;">
           <label class="control-label col-lg-2 text-right" for="psw">密码:</label>
           <div class="col-lg-4">
               <input type="password" class="form-control" name="password" id="psw" placeholder="请输入密码...">
           </div>
       </div>
       <div class="row" style="margin-top: 20px;">
           <label class="control-label col-lg-2 text-right" for="emil">邮箱:</label>
           <div class="col-lg-4">
               <input class="form-control" type="email" name="email" id="emil" autocomplete="off" placeholder="请输入邮箱...">
           </div>
       </div>
       <div class="row" style="margin-top: 20px;">
           <div class="col-lg-6 text-center">
               <button class="btn btn-primary">submit</button>
               <input class="btn btn-info" type="reset" value="reset">
           </div>
       </div>
   </div>
</div>