html, body {
	height: 100%;
}

#app {
	height: 100%;
}

#app .main-con {
	height: 100%;
}
#app .main {
	height: 100%;
	background: #fff;
}
#app .title2 {
	padding-top: 200px;
	color: #f53d3d;
	text-align: center;
}
