<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="Author" content="fengying">
    <meta name="Keywords" content="">
    <meta name="description" content="">
    <title>风鹰Blog</title>
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/public.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div id="app">
        <% include ../header.ejs %>
        <div class="head-cover"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 text-center">
                    <h1 class="title">欢迎来到管理员页面</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 text-center">
                    <a href="/admin/user">用户管理</a>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 text-center">
                    <a href="/admin/article">文章发布</a>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 text-center">
                    <a href="/admin/views">模板管理</a>
                </div>
            </div>
        </div>
        <% include ../footer.ejs %>
    </div>
    <script type="text/javascript" src="/js/jquery1.11.3.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
</body>
</html>