.caption {
  .title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
.nav.nav-tabs {
    margin-bottom: 20px;
}
.navOne-list>li {
    position: relative;
    .navTow-list {
        position: absolute;
        width: 100%;
        background: #fdfdfd;
        overflow: hidden;
        border-radius: 0 0 3px 3px;
        z-index: 666;
        display: none;
    }
}
